@import 'tailwindcss';
@import 'tw-animate-css';

/* Hide scrollbar on Chrome, Safari, Edge */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar on Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* Hide scrollbar on Internet Explorer / Edge Legacy */
.hide-scrollbar {
  -ms-overflow-style: none;
}

.sortable-item {
  transition: transform 200ms cubic-bezier(0.2, 0, 0, 1), box-shadow 200ms ease;
}
